span{
    background:skyblue;
    font:12pt tahoma;
    color: crimson;
    margin:5px;
    display:block;
    padding: 5px;
}
p, div {
    border: solid 2px tomato;
    width:150px;
}
p { 
    display:inline;
}
div{ 
    display:inline-block;
}